In [1]:
import sqlite3

In [3]:
db=sqlite3.connect("ineuron.db")

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 6058-0995

 Directory of C:\Users\AMAN\Documents\data science\Database

04/19/2022  08:04 AM    <DIR>          .
02/21/2022  03:05 PM    <DIR>          ..
04/19/2022  07:58 AM    <DIR>          .ipynb_checkpoints
03/06/2022  09:39 PM    <DIR>          19.3 MongoDB
02/15/2022  02:49 AM             1,345 ca.crt
02/11/2022  07:30 AM            51,867 car.data
03/06/2022  11:05 PM           628,633 carbon_nanotubes.csv
02/15/2022  02:49 AM             1,525 cert
02/15/2022  02:49 AM             3,679 cert.pfx
02/15/2022  02:49 AM               499 config.json
02/15/2022  02:49 AM               206 cqlshrc
02/05/2022  11:47 AM            11,903 glass.data
02/15/2022  02:49 AM             2,874 identity.jks
04/19/2022  08:04 AM                 0 ineuron.db
02/15/2022  02:49 AM             1,675 key
04/19/2022  08:04 AM               922 SQLLITE.ipynb
02/15/2022  02:49 AM             1,407 trustStore.jks
02/06/2022  10:24 AM            16,109 Untitled.ipynb
02/11/2022  11:43 AM           129,847 Untitled1.ipynb
03/01/2022  03:15 PM            10,254 Untitled2.ipynb
03/07/2022  01:29 AM             8,009 Untitled3.ipynb
03/07/2022  12:00 AM            12,625 Untitled4.ipynb
              18 File(s)        883,379 bytes
               4 Dir(s)  92,023,447,552 bytes free

In [6]:
c = db.cursor()

In [7]:
c.execute('create table fsds(name text,batchid int , marks real)')

In [9]:
c.execute('insert into fsds values("sudh",3456,342)')

In [10]:
c.execute('insert into fsds values("sudh",3456,342)')
c.execute('insert into fsds values("aman",5643,453)')
c.execute('insert into fsds values("sid",6542,123)')
c.execute('insert into fsds values("deeshant",2642,234)')
c.execute('insert into fsds values("ajay",1646,312)')
c.execute('insert into fsds values("nitin",7643,313)')
c.execute('insert into fsds values("akash",2345,334)')
c.execute('insert into fsds values("vaibhav",1234,356)')

In [11]:
data = c.execute('select * from fsds')

In [12]:
for i in data:
    print(i)

('sudh', 3456, 342.0)
('sudh', 3456, 342.0)
('aman', 5643, 453.0)
('sid', 6542, 123.0)
('deeshant', 2642, 234.0)
('ajay', 1646, 312.0)
('nitin', 7643, 313.0)
('akash', 2345, 334.0)
('vaibhav', 1234, 356.0)

In [13]:
db.commit()

In [14]:
db.close()

In [15]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 6058-0995

 Directory of C:\Users\AMAN\Documents\data science\Database

04/19/2022  08:12 AM    <DIR>          .
02/21/2022  03:05 PM    <DIR>          ..
04/19/2022  07:58 AM    <DIR>          .ipynb_checkpoints
03/06/2022  09:39 PM    <DIR>          19.3 MongoDB
02/15/2022  02:49 AM             1,345 ca.crt
02/11/2022  07:30 AM            51,867 car.data
03/06/2022  11:05 PM           628,633 carbon_nanotubes.csv
02/15/2022  02:49 AM             1,525 cert
02/15/2022  02:49 AM             3,679 cert.pfx
02/15/2022  02:49 AM               499 config.json
02/15/2022  02:49 AM               206 cqlshrc
02/05/2022  11:47 AM            11,903 glass.data
02/15/2022  02:49 AM             2,874 identity.jks
04/19/2022  08:12 AM             8,192 ineuron.db
02/15/2022  02:49 AM             1,675 key
04/19/2022  08:10 AM             4,299 SQLLITE.ipynb
02/15/2022  02:49 AM             1,407 trustStore.jks
02/06/2022  10:24 AM            16,109 Untitled.ipynb
02/11/2022  11:43 AM           129,847 Untitled1.ipynb
03/01/2022  03:15 PM            10,254 Untitled2.ipynb
03/07/2022  01:29 AM             8,009 Untitled3.ipynb
03/07/2022  12:00 AM            12,625 Untitled4.ipynb
              18 File(s)        894,948 bytes
               4 Dir(s)  91,460,943,872 bytes free

In [16]:
db = sqlite3.connect('ineuron.db')

In [17]:
c= db.cursor()

In [19]:
d=c.execute('select * from fsds where marks >400')

In [20]:
for i in d:
    print(i)

('aman', 5643, 453.0)

In [24]:
data = c.execute('select * from fsds where name="sudh"')

In [25]:
for i in data:
    print(i)

('sudh', 3456, 342.0)
('sudh', 3456, 342.0)

In [26]:
data = c.execute("select name , marks from fsds order by marks")

In [27]:
for i in data:
    print(i)

('sid', 123.0)
('deeshant', 234.0)
('ajay', 312.0)
('nitin', 313.0)
('akash', 334.0)
('sudh', 342.0)
('sudh', 342.0)
('vaibhav', 356.0)
('aman', 453.0)

In [28]:
db.close()

In [29]:
db=sqlite3.connect("person.db")

In [30]:
c=db.cursor()

In [31]:
c.execute("create table person(name text,emailid text, age int , salary real)")

In [32]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 6058-0995

 Directory of C:\Users\AMAN\Documents\data science\Database

04/19/2022  08:17 AM    <DIR>          .
02/21/2022  03:05 PM    <DIR>          ..
04/19/2022  07:58 AM    <DIR>          .ipynb_checkpoints
03/06/2022  09:39 PM    <DIR>          19.3 MongoDB
02/15/2022  02:49 AM             1,345 ca.crt
02/11/2022  07:30 AM            51,867 car.data
03/06/2022  11:05 PM           628,633 carbon_nanotubes.csv
02/15/2022  02:49 AM             1,525 cert
02/15/2022  02:49 AM             3,679 cert.pfx
02/15/2022  02:49 AM               499 config.json
02/15/2022  02:49 AM               206 cqlshrc
02/05/2022  11:47 AM            11,903 glass.data
02/15/2022  02:49 AM             2,874 identity.jks
04/19/2022  08:12 AM             8,192 ineuron.db
02/15/2022  02:49 AM             1,675 key
04/19/2022  08:17 AM             8,192 person.db
04/19/2022  08:16 AM             9,705 SQLLITE.ipynb
02/15/2022  02:49 AM             1,407 trustStore.jks
02/06/2022  10:24 AM            16,109 Untitled.ipynb
02/11/2022  11:43 AM           129,847 Untitled1.ipynb
03/01/2022  03:15 PM            10,254 Untitled2.ipynb
03/07/2022  01:29 AM             8,009 Untitled3.ipynb
03/07/2022  12:00 AM            12,625 Untitled4.ipynb
              19 File(s)        908,546 bytes
               4 Dir(s)  91,470,221,312 bytes free

In [34]:
c.execute("insert into person values('sudh','sudhanshu@ineuron.ai',25,2345)")
c.execute("insert into person values('aman','aman@ineuron.ai',22,4321)")
c.execute("insert into person values('ajay','ajay@ineuron.ai',23,2325)")
c.execute("insert into person values('akash','akash@ineuron.ai',29,2343)")
c.execute("insert into person values('nitin','nitin@ineuron.ai',27,4532)")
c.execute("insert into person values('nitesh','nitesh@ineuron.ai',26,5423)")
c.execute("insert into person values('rahul','rahul@ineuron.ai',21,2234)")

In [35]:
data = c.execute("select * from person")

In [36]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 25, 2345.0)
('aman', 'aman@ineuron.ai', 22, 4321.0)
('ajay', 'ajay@ineuron.ai', 23, 2325.0)
('akash', 'akash@ineuron.ai', 29, 2343.0)
('sudh', 'sudhanshu@ineuron.ai', 25, 2345.0)
('aman', 'aman@ineuron.ai', 22, 4321.0)
('ajay', 'ajay@ineuron.ai', 23, 2325.0)
('akash', 'akash@ineuron.ai', 29, 2343.0)
('nitin', 'nitin@ineuron.ai', 27, 4532.0)
('nitesh', 'nitesh@ineuron.ai', 26, 5423.0)
('rahul', 'rahul@ineuron.ai', 21, 2234.0)

In [38]:
db.commit()

In [39]:
db.close()

In [40]:
db=sqlite3.connect('ineuron.db')

In [41]:
c=db.cursor()

In [42]:
c.execute('drop table fsds')

In [44]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [45]:
db.close()

In [46]:
db= sqlite3.connect('person.db')

In [47]:
c=db.cursor()

In [49]:
data = c.execute('select * from person limit 2')

In [50]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 25, 2345.0)
('aman', 'aman@ineuron.ai', 22, 4321.0)

In [54]:
db = sqlite3.connect('jobdb.db')

In [52]:
db.close()

In [55]:
c= db.cursor()

In [56]:
c.execute('create table student(student_id int,student_name text,student_mailid text, marks int)')

In [57]:
c.execute('create table address(student_id int,pincode int, location text, nearby text, phone_no int)')

In [59]:
c.execute("insert into student values(123,'aman','aman@ineuron.ai',1234)")
c.execute("insert into student values(124,'ajay','ajay@ineuron.ai',2345)")
c.execute("insert into student values(125,'rahul','rahul@ineuron.ai',3456)")
c.execute("insert into student values(126,'nitesh','nitesh@ineuron.ai',4567)")
c.execute("insert into student values(127,'nitin','nitin@ineuron.ai',5678)")
c.execute("insert into student values(128,'garima','garima@ineuron.ai',6789)")
c.execute("insert into student values(129,'rakesh','rakesh@ineuron.ai',1345)")
c.execute("insert into student values(121,'deep','deep@ineuron.ai',2456)")
c.execute("insert into student values(122,'vaibhav','vaibhav@ineuron.ai',3567)")
c.execute("insert into student values(130,'namita','namita@ineuron.ai',2365)")
c.execute("insert into student values(131,'riya','riya@ineuron.ai',7634)")
c.execute("insert into student values(132,'rajesh','rajesh@ineuron.ai',1534)")

In [60]:
c.execute('insert into address values(123,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(124,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(125,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(126,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(127,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(128,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(129,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(121,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(122,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(130,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(131,560034,"whitefield","ineuron office",123451123)')
c.execute('insert into address values(132,560034,"whitefield","ineuron office",123451123)')

In [76]:
data = c.execute('select * from student s left join address a on a.student_id == s.student_id')

In [77]:
for i in data:
    print(i)

(123, 'aman', 'aman@ineuron.ai', 1234, 123, 560034, 'whitefield', 'ineuron office', 123451123)
(124, 'ajay', 'ajay@ineuron.ai', 2345, 124, 560034, 'whitefield', 'ineuron office', 123451123)
(125, 'rahul', 'rahul@ineuron.ai', 3456, 125, 560034, 'whitefield', 'ineuron office', 123451123)
(126, 'nitesh', 'nitesh@ineuron.ai', 4567, 126, 560034, 'whitefield', 'ineuron office', 123451123)
(127, 'nitin', 'nitin@ineuron.ai', 5678, 127, 560034, 'whitefield', 'ineuron office', 123451123)
(128, 'garima', 'garima@ineuron.ai', 6789, 128, 560034, 'whitefield', 'ineuron office', 123451123)
(129, 'rakesh', 'rakesh@ineuron.ai', 1345, 129, 560034, 'whitefield', 'ineuron office', 123451123)
(121, 'deep', 'deep@ineuron.ai', 2456, 121, 560034, 'whitefield', 'ineuron office', 123451123)
(122, 'vaibhav', 'vaibhav@ineuron.ai', 3567, 122, 560034, 'whitefield', 'ineuron office', 123451123)
(130, 'namita', 'namita@ineuron.ai', 2365, 130, 560034, 'whitefield', 'ineuron office', 123451123)
(131, 'riya', 'riya@ineuron.ai', 7634, 131, 560034, 'whitefield', 'ineuron office', 123451123)
(132, 'rajesh', 'rajesh@ineuron.ai', 1534, 132, 560034, 'whitefield', 'ineuron office', 123451123)
(133, 'richa', 'richa@ineuron.ai', 2365, None, None, None, None, None)
(134, 'taruna', 'taruna@ineuron.ai', 7634, None, None, None, None, None)
(135, 'neha', 'neha@ineuron.ai', 1534, None, None, None, None, None)

In [70]:
c.execute("insert into student values(133,'richa','richa@ineuron.ai',2365)")
c.execute("insert into student values(134,'taruna','taruna@ineuron.ai',7634)")
c.execute("insert into student values(135,'neha','neha@ineuron.ai',1534)")

In [78]:
c.execute('delete from student where student_id >130')

In [84]:
data = c.execute("select * from student")
data.fetchall()

[(123, 'aman', 'aman@ineuron.ai', 1234),
 (124, 'ajay', 'ajay@ineuron.ai', 2345),
 (125, 'rahul', 'rahul@ineuron.ai', 3456),
 (1000, 'nitesh', 'nitesh@ineuron.ai', 4567),
 (127, 'nitin', 'nitin@ineuron.ai', 5678),
 (128, 'garima', 'garima@ineuron.ai', 6789),
 (129, 'rakesh', 'rakesh@ineuron.ai', 1345),
 (121, 'deep', 'deep@ineuron.ai', 2456),
 (122, 'vaibhav', 'vaibhav@ineuron.ai', 3567),
 (130, 'namita', 'namita@ineuron.ai', 2365)]

In [83]:
for i in data:
    print(i)

(123, 'aman', 'aman@ineuron.ai', 1234)
(124, 'ajay', 'ajay@ineuron.ai', 2345)
(125, 'rahul', 'rahul@ineuron.ai', 3456)
(1000, 'nitesh', 'nitesh@ineuron.ai', 4567)
(127, 'nitin', 'nitin@ineuron.ai', 5678)
(128, 'garima', 'garima@ineuron.ai', 6789)
(129, 'rakesh', 'rakesh@ineuron.ai', 1345)
(121, 'deep', 'deep@ineuron.ai', 2456)
(122, 'vaibhav', 'vaibhav@ineuron.ai', 3567)
(130, 'namita', 'namita@ineuron.ai', 2365)

In [81]:
c.execute("update student set student_id=1000 where student_id=126")